body {
  font-family: emoji;
  cursor: pointer;
}

.splide__slide img {
  transition: transform 1.5s ease, opacity 1.5s ease;
  object-fit: cover;
}

.splide__slide.is-active img {
  /* transform: scale(1.05); */
  opacity: 1;
}

.splide__slide:not(.is-active) img {
  opacity: 0.8;
}

/* --- CUSTOM ARROWS --- */
.splide__arrow {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  color: white;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.splide__arrow:hover {
  background: rgba(255, 255, 255, 0.5);
  transform: translateY(-50%) scale(1.1);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.container-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
  border-radius: 20px;
}

.container-slide .slide {
  border-radius: 20px;
}

.container-slide .slide .item {
  width: 200px;
  height: 250px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: all 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all .5s;
}

.slide .item:nth-child(3) {
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  display: none;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.673);
  transition: all 0.5s;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content button:hover {
  background-color: rgb(255, 255, 255);
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  left: 45%;
  right: 50%;
  width: 100%;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 2px solid #000000bd;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.578);
}

.button button:hover {
  color: #000000;
  border: 2px solid #ffffffbd;
  transform: scale(1.1);
}

.button button:focus {
  transform: scale(1.1);
  background: #ffffff;
  border: 2px solid #ffffffbd;
}

.button button:active {
  transform: scale(1.02);
}

.next {
  padding: 0 0 0 3px;
}

.prev {
  padding: 0 3px 0 0;
}

body #myVideo {
  mix-blend-mode: color-dodge;
  bottom: 0;
  left: 0;
  /* width: 940px; */
  transform: rotate(180Deg);
  right: 0;
}

.polygon-animate {
  stroke-dasharray: 1300;
  /* tổng chiều dài đường polygon */
  stroke-dashoffset: 1300;
  /* ẩn toàn bộ nét ban đầu */
  transition: stroke-dashoffset 1.2s ease-in-out;
}

.polygon-animate:hover {
  stroke-dashoffset: 0;
  /* vẽ hết nét khi hover */
  filter: drop-shadow(0 0 10px #ff0000);
}

.main {
  margin: 0px auto;
  width: 360px;
  height: 360px;
  position: relative;
}


.icon-block {
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-image: linear-gradient(180deg, #4967e6 0%, #627bf4 100%);
  -webkit-background-image: linear-gradient(180deg, #4967e6 0%, #627bf4 100%);
  box-shadow: 0 2px 4px 0 #3e5ada;
  -webkit-box-shadow: 0 2px 4px 0 #3e5ada;
  top: 50%;
  left: 50%;
}

.circle:first-child {
  animation: circle-rotate 20s linear infinite;
  -webkit-animation: circle-rotate 20s linear infinite;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 100%;
  height: 100%;
  border: 3px solid #6495f2;
  border-radius: 50%;
}

.circle:nth-child(2) {
  animation: circle-rotate 30s linear infinite;
  -webkit-animation: circle-rotate 30s linear infinite;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 80%;
  height: 80%;
  border: 3px solid #6495f2;
  border-radius: 50%;
}

.circle:nth-child(3) {
  animation: circle-rotate 40s linear infinite;
  -webkit-animation: circle-rotate 40s linear infinite;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 60%;
  height: 60%;
  border: 3px solid #6495f2;
  border-radius: 50%;
}

.circle:first-child .icon-block {
  transform: translate(-50%, -50%) rotate(calc(45deg * var(--i))) translate(100px) rotate(calc(-60deg * var(--i)));
}

.circle:nth-child(2) .icon-block {
  transform: translate(-50%, -50%) rotate(calc(36deg * var(--i))) translate(140px) rotate(calc(-60deg * var(--i)));
}

.circle:nth-child(3) .icon-block {
  transform: translate(-50%, -50%) rotate(calc(30deg * var(--i))) translate(180px) rotate(calc(-60deg * var(--i)));
}

.circle:first-child .icon-block img {
  margin: 0px auto;
  width: 70%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}

.circle:nth-child(2) .icon-block img {
  margin: 0px auto;
  width: 70%;
  animation: Rotate-reverse 30s linear infinite;
  -webkit-animation: Rotate-reverse 30s linear infinite;
}


.circle:nth-child(3) img {
  margin: 0px auto;
  width: 70%;
  animation: Rotate-reverse 40s linear infinite;
  -webkit-animation: Rotate-reverse 40s linear infinite;
}


@media only screen and (min-width: 1440px) {
  .main {
    width: 480px;
    height: 480px;
    position: relative;
  }

  .circle:first-child .icon-block {
    transform: translate(-50%, -50%) rotate(calc(45deg * var(--i))) translate(140px) rotate(calc(-60deg * var(--i)));
  }

  .circle:nth-child(2) .icon-block {
    transform: translate(-50%, -50%) rotate(calc(36deg * var(--i))) translate(190px) rotate(calc(-60deg * var(--i)));
  }

  .circle:nth-child(3) .icon-block {
    transform: translate(-50%, -50%) rotate(calc(30deg * var(--i))) translate(240px) rotate(calc(-60deg * var(--i)));
  }

}


.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.center-logo img {
  max-width: 200px;
}

/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes circle-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes img-rotate {
  from {
    transform: rotate(-45deg);
  }

  to {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes img-rotate {
  from {
    -webkit-transform: rotate(-45deg);
  }

  to {
    -webkit-transform: rotate(-405deg);
  }
}

.custom .splide__slide img {
  width: 100%;
  display: block;
}

.custom .thumbnail .splide__slide {
  opacity: 1 !important;
  transform: none;
}


.custom .thumbnail .splide__slide.is-active {
  border: 2px solid #3b82f6;
  border-radius: 0.5rem;
  transform: scale(1.03);
}


.custom .thumbnail .splide__slide:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom .splide__slide:focus-visible {
  outline: none !important;
}

.pulse-container {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 40px auto;
}

.ring {
  position: absolute;
  inset: 0;
  border: 1px solid #f78a4f;
  border-radius: 50%;
  opacity: 0;
  animation: pulse 3s ease-out infinite;

  box-shadow: 0 0 20px 5px rgb(255, 105, 0, 0.6),
    0 0 40px 15px rgba(255, 104, 0, 0.4),
    0 0 60px 25px rgba(255, 196, 86 0.2);
}

.ring1 {
  animation-delay: 0s;
}

.ring2 {
  animation-delay: .7s;
}

.ring3 {
  animation-delay: 1.4s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }

  60% {
    transform: scale(1.6);
    opacity: 0.4;
  }

  100% {
    transform: scale(2.1);
    opacity: 0;
  }
}